/* p {
    color: brown;
    font-size: 25px;
}

#p3{
    color: blue;
}
#t5{
    color: aqua;
}
.green-text{
    color: green;
}
#h{
    font-size: 90px;
}
.underline-h{
    text-decoration: underline;
} */

/* 1. function *
   2. object   *
   3. arrays   *
   4. BOM      
   5. DOM
   6. javascript validation
   7. javascript OOPs
   8. javascript Cookies
   9. javascript Events
  10. Exception Handling
  11. Javascript MISC
  12. JS Debugging
  13. JS hoisting
  14. js Strict mode
  15. javascript Promise
  16. JS Compare dates
  17. javascript array.length
  18. javascript alert()
  19. javascript eval() function
  20. javascript closest()
  21. javascript continue statement
  22. JS get.Attribute()method
  23. JS Default parameters
  24. callback functions
  25. returning function
  26. forEach method
  27. getters and setters 
  28. Arrow function
  29. static methods and properties
  30. more about prototype




*/